<!-- compagnie_aerienne/
│
├── app.py               # Fichier principal pour exécuter l'application Flask
├── config.py            # Fichier de configuration de la base de données
├── routes.py            # Fichier pour définir les routes et les fonctions associées
├── __init__.py          # Initialisation de l'application Flask et importation des modules
├── models.py            # Fichier pour définir les modèles de base de données (optionnel mais utile)
├── templates/           # Dossier pour les templates HTML
│   ├── index.html       # Template pour la page d'accueil
│   ├── ajouter_vol.html # Template pour ajouter un vol
│   ├── modifier_vol.html# Template pour modifier un vol
│   └── vol.html         # Template pour afficher les vols
└── static/
    └── style.css        # Fichier CSS pour le style de la page -->